* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url("../../Assets/Image/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-content{
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.container{
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.banner-text{
  width: 500px;
}
.banner-text h3{
  font-size: 50px;
}
.banner-text h1{
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}
.banner-text p{
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-text{
  height: 60px;
}
.banner-btn{
  margin-top: 35px;
}
.btn{
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
  background: rgb(255,69,79);
}
.navbar-ul{
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navbar-ul li a{
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  font-weight: 800;
  text-transform: uppercase;
}
.olx{
  padding: 80px 0;
}
.image{
  background-image: url('../../Assets/Image/piizza.jpg');
  height: 100vh;
  background-repeat: no-repeat;
}
.row{
  width: 100%;
  display: flex;
}
.col-6{
  width: 50%;
}
.about h3 {
  color: rgba(37, 37, 37, 0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}